---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- Add companies and Uni logos -->
          <hr>

          <div class="row justify-content-sm-center">
            <div class="col-sm-2 mt-3 mt-md-0">
                {% include figure.html path="assets/img/nvidia.png" title="example image" class="img-fluid rounded z-depth-1" %}
                <center>Caption-1</center>
            </div>
            <div class="col-sm-2 mt-3 mt-md-0">
                {% include figure.html path="assets/img/princeton.png" title="example image" class="img-fluid rounded z-depth-1" %}
                <center>Caption-2</center>
            </div>
            <div class="col-sm-2 mt-3 mt-md-0">
                {% include figure.html path="assets/img/1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
                <center>Caption-3</center>
            </div>
            <div class="col-sm-2 mt-3 mt-md-0">
                {% include figure.html path="assets/img/1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
                <center>Caption-4</center>
            </div>
          </div>
          <br>
          <div class="row justify-content-sm-center">
            <div class="col-sm-2 mt-3 mt-md-0">
                {% include figure.html path="assets/img/1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
                <center>Caption-1</center>
            </div>
            <div class="col-sm-2 mt-3 mt-md-0">
                {% include figure.html path="assets/img/1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
                <center>Caption-2</center>
            </div>
            <div class="col-sm-2 mt-3 mt-md-0">
                {% include figure.html path="assets/img/1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
                <center>Caption-3</center>
            </div>
          </div>

          <hr>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
