---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if site.enable_workex_logos%}
          <!-- Add companies and Uni logos -->
          <hr>

          <div class="container">
            <div class="row">
              <div class="col">
                  {% include figure.html path="assets/logo/nvidia.png" title="example image" class="img-fluid rounded" %}
              </div>
              <div class="col">
                  {% include figure.html path="assets/logo/samsung.png" title="example image" class="img-fluid rounded" %}
              </div>
              <div class="col">
                  {% include figure.html path="assets/logo/flipkart.png" title="example image" class="img-fluid rounded" %}
              </div>
              <div class="col">
                {% include figure.html path="assets/logo/princeton.jpeg" title="example image" class="img-fluid rounded" %}
              </div>
              <div class="col">
                  {% include figure.html path="assets/logo/rutgers.png" title="example image" class="img-fluid rounded" %}
              </div>
              <div class="col">
                  {% include figure.html path="assets/logo/bits.png" title="example image" class="img-fluid rounded" %}
              </div>
            </div>
          </div>

          {% endif %}
          <hr>


          <!-- <div class="Blog & Projects">
            <a class="nav-link" href="{{ '/blog/' | relative_url }}"><h2>{{ site.blog_nav_title }}</h2>
            </a>
          </div> -->

          <!-- Selected Blog posts -->
          <div class="selected_posts">
            <h2>Selected posts</h2>
                <div class="table-responsive" {% if site.selected_blog_scrollable %}style="max-height: 10vw"{% endif %}>
                  <table class="table table-sm table-borderless">
                  {%- assign posts = site.posts | reverse -%}

                  {% for post in posts %}
                    {% if post.selected %}
                    <tr>
                      <th scope="row"><a class="post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a></th>
                      <td>
                          <!-- <a class="news-title" >{{ post.description }}</a> -->
                          <!-- {{ post.description }} -->
                      </td>
                    </tr>
                    {% endif %}
                  {%- endfor %} 
                  </table>
                </div>
          </div>

          <hr>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

        <!-- Add ClustrMap -->
        <hr>
          <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=n&d=XJ5lsnQoYSvHKgVb7zmVJ80Q4xoUpSK2WOf5DYSpQ-Q&co=2d78ad&cmo=3acc3a&cmn=ff5353&ct=ffffff'>
          </script>

</div>
